@tailwind base;
@tailwind components;
@tailwind utilities;

.css-hwk0gy-MuiPaper-root {
    padding: 20px !important;
    margin: 15px !important;
}

#user_table_index thead {
    border-bottom: 2px solid;
    line-height: 3;
}

#user_table_index .tbody_table_user td {
    padding: 30px;
    border-bottom: 1px solid;
    text-align: center;
}

#user_table_index .status_column_table_user {
    background: #e2e2e2;
    padding: 5px;
    border-radius: 7px;
}

.mainbox404 {
    background-color: #95c2de;
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
}

.mainbox404 .err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 20%;
    top: 8%;
}

.mainbox404 .far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: #ffffff;
}

.mainbox404 .err2 {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 68%;
    top: 8%;
}

.mainbox404 .msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position: absolute;
    left: 16%;
    top: 45%;
    width: 75%;
}

.mainbox404 .msg a {
    text-decoration: none;
    color: white;
}

.mainbox404 .msg a:hover {
    text-decoration: underline;
}

.create_user_name input:focus{
    box-shadow:none
}